:root {
  --main-color: #18dc0c;
  --secondary-color: #11291b;
  --background-color: #10170f;
}

*:visited,
*:link,
*:focus {
  text-decoration: inherit;
  color: inherit
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  font-family: 'Oxygen Mono', monospace;
  color: var(--main-color);
}

/* 
GENERAL
*/
.active-link {
  text-decoration: underline;
  background-color: var(--background-color);
}

/* 
APP CONTAINER CSS
*/




/* 
THEME PAGE CSS
*/
.theme-options button.active {
  background-color:var(--main-color);
  color: var(--background-color);
}