:root {
  --main-color: #18dc0c;
  --secondary-color: #11291b;
  --background-color: #10170f;
}

*:visited,
*:link,
*:focus {
  text-decoration: inherit;
  color: inherit
}
*{
  list-style-type: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  font-family: 'Oxygen Mono', monospace;
  color: var(--main-color);
}

/* 
GENERAL
*/
.active-link {
  text-decoration: underline;
  background-color: var(--background-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  padding-right: 2%;
  text-transform: uppercase;
}